# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Database
inventory.db

# Results (Exclude files but keep folder if using .gitkeep)
ResultadosEscaneo/*
!ResultadosEscaneo/.gitkeep

# IDEs
.vscode/
.idea/
